/node_modules
/public/hot
/public/agendas
/public/articles
/public/banners
/public/benefits
/public/companies
/public/documentations
/public/facilities
/public/medias
/public/programs
/storage/*.key
# /vendor

.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
